@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 224 100% 71%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;
    --vis-primary-color: var(--primary);
    --cvis-secondary-olor: 160 81% 40%;
    --vis-text-color: var(--muted-foreground);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 224 100% 71%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .bg-light850_dark100 {
    @apply bg-[#FDFDFD] dark:bg-[#000000];
  }
  .bg-light900_dark200 {
    @apply bg-[#FFFFFF] dark:bg-[#0F1117];
  }
  .bg-light900_dark300 {
    @apply bg-[#FFFFFF] dark:bg-[#151821];
  }
  .bg-light800_darkgradient {
    @apply dark:dark-gradient bg-[#F4F6F8];
  }
  .bg-light800_dark400 {
    @apply bg-[#F4F6F8] dark:bg-[#212734] !important;
  }
  .bg-light700_dark400 {
    @apply bg-[#DCE3F1] dark:bg-[#212734];
  }
  .bg-light700_dark300 {
    @apply bg-[#DCE3F1] dark:bg-[#151821];
  }
  .bg-light800_dark300 {
    @apply bg-[#F4F6F8] dark:bg-[#151821] !important;
  }
  .text-dark100_light900 {
    @apply text-[#000000] dark:text-[#FFFFFF] !important;
  }
  .text-dark200_light900 {
    @apply text-[#0F1117] dark:text-[#FFFFFF];
  }
  .text-dark200_light800 {
    @apply text-[#0F1117] dark:text-[#F4F6F8] !important;
  }
  .text-dark300_light700 {
    @apply text-[#151821] dark:text-[#DCE3F1];
  }
  .text-dark400_light700 {
    @apply text-[#212734] dark:text-[#DCE3F1];
  }
  .text-dark500_light700 {
    @apply text-[#101012] dark:text-[#DCE3F1] !important;
  }
  .text-dark500_light500 {
    @apply text-[#101012] dark:text-[#7B8EC8];
  }
  .text-dark300_light900 {
    @apply text-[#151821] dark:text-[#FFFFFF] !important;
  }
  .text-dark400_light800 {
    @apply text-[#212734] dark:text-[#F4F6F8];
  }
  .text-light400_light500 {
    @apply text-[#858EAD] dark:text-[#7B8EC8] !important;
  }

  .light-border {
    @apply border-[#F4F6F8] dark:border-[#151821];
  }
  .light-border-2 {
    @apply border-[#DCE3F1] dark:border-[#212734] !important;
  }
  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }
  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }
  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }
  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }
  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }
  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }
  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }
  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }
  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }
  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }
  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }
  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }
  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }
  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }
  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }
  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }
  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }
  .shadow-light100_dark100 {
    @apply shadow-light-100 dark:shadow-[#000000];
  }
  .shadow-light100_darknone {
    @apply shadow-light-100 dark:shadow-none;
  }
  .primary-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  }

  .primary-gradient-light {
    background: linear-gradient(129deg, #fd7f1e 0%, #dd9c66 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
}
